.content_block{
	// width: 90%;
	// margin: 0 auto;
	padding-top: 13rem;
	padding-bottom: 5rem;

	.tit{
		display: block;
		max-width: 90%;
		margin: 0 auto;

		&:after{
			content: "";
			display: block;
			width: 100%;
			clear: both;
		}

		h1{
			.latoBold;
			font-size: 3rem;
			text-transform: uppercase;
			color: @blue;
			margin: 0;

			i{
				color: @orange;
				font-style: normal;
			}
		}

		p{
			.lato;
			font-size: 1.8rem;
			color: @gray;
			font-style: italic;
		}

		.descript{
			display: inline-block;
			// margin: 0 4rem;
			margin-left: 7rem;
			vertical-align: text-top;
			float: right;
			max-width: 60rem;
			box-sizing: border-box;

			img{
				margin-right: 3rem;
				float: left;
				position: relative;
	    		top: -5rem;
			}

			p{
				.lato;
				font-style: normal;
				font-size: 1.6rem;
				line-height: 125%;
				// max-width: 70rem;
			}
		}
	}
}



// Стили для табов
.tabs {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 90%;
	margin-top: 2.5rem;
	overflow: hidden;

	label {
		color: @gray;
		display: inline-block;
		width: 17.5rem;
		height: 5.5rem;
		line-height: 5.5rem;
		text-align: center;
		.latoIt;
		font-size: 2rem;
		text-transform: uppercase;
		cursor: pointer;
		background: url(../img/tab_gray.svg) no-repeat top center;
		margin-right: -2.3rem;
		transition: .5s;
	}

	input {
		position: absolute;
		left: -9999px;
	}
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3 {
	background: url(../img/tab.svg) no-repeat top center;
	top: 0;
	z-index: 3;
	cursor: pointer;
	color: @white;
}

.tabs_cont {
	background: #fff;
	position: relative;
	z-index: 2;
	height: 30rem;
	margin: 9.5rem 0;

	.block{
		display: inline-block;
		width: 45%;
		height: 17.5rem;
		padding: 3.5rem;
		box-sizing: border-box;

		&:nth-child(odd){
			padding-left: 0;
			border-right: 1px solid @light-gray;
		}

		&:nth-child(even){
			padding-right: 0;
		}

		i{
			display: inline-block;
			width: 12.5rem;
			height: 10.5rem;
			float: left;
			margin-right: 2rem;
		}

		&:first-child{
			border-bottom: 1px solid @light-gray;

			i{
				background-image: url(../img/icons/icons.png);
				background-position: 0 -420px;
				background-repeat: no-repeat;

				&:hover{
					background-position: 0 -525px;
				}
			}
		}

		&:nth-child(2){
			border-bottom: 1px solid @light-gray;

			i{
				background-image: url(../img/icons/icons.png);
				background-position: 0 -210px;
				background-repeat: no-repeat;

				&:hover{
					background-position: 0 -315px;
				}
			}
		}

		&:nth-child(3) i{
			background-image: url(../img/icons/icons.png);
			background-position: 0 -630px;
			background-repeat: no-repeat;

			&:hover{
				background-position: 0 -735px;
			}
		}

		&:last-child i{
			background-image: url(../img/icons/icons.png);
			background-position: 0 -0px;
			background-repeat: no-repeat;

			&:hover{
				background-position: 0 -105px;
			}
		}

		p{
			&.title{
				.latoBold;
				font-size: 2rem;
				margin: 1rem 0;
			}

			&.text{
				.lato;
				font-size: 1.6rem;
			}
		}
	}
}

.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3 {
	position: static;
	left: 0;
	opacity: 1;
}