.testimonial{
	padding-top: 0;

	.logo-block{
		max-width: 96rem;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 6rem auto;

		a{
			display: block;
    		height: 6.5rem;
    		width: 12rem;
    		text-align: center;
    		line-height: 8.5rem;

			img{
				max-width: 100%;
				max-height: 100%;
				display: inline-block;
				opacity: .3;
			}
		}
	}

	.testimonial-block{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		.testimonial-item{
			
		}
	}
}