@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300);
html
{
    font-size: 62.5%;
}
*
{
    margin: 0;
    padding: 0;
}
header
{
    position: absolute;
    z-index: 1;

    width: 90%;
    max-height: 16rem;
    margin: 0 5%;
    padding: 3rem 0;
}
header div,
header nav
{
    display: inline-block;
}
header .logo
{
    max-width: 7.4rem;
    max-height: 5.8rem;
}
header .logo a
{
    display: block;

    width: 100%;
}
header .logo object
{
    width: 100%;
}
header nav
{
    float: right;
}
header nav ul
{
    text-align: center;
}
header nav ul li
{
    font-size: 1.6rem;

    display: inline-block;

    padding: 1.5rem;

    list-style: none;

    -webkit-transition: .2s;
            transition: .2s;
}
header nav ul li:last-child
{
    padding-right: 0;
}
header nav ul li a
{
    text-decoration: none;

    color: #fff;
}
header nav ul li a:hover
{
    border-bottom: 1px solid #fff;
}
.slider
{
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: 100%;
    height: 103rem;

    color: #fff;
}
.slider .shaped
{
    float: left;
    float: right;

    width: 100%;
    height: 100%;

    background: url(../img/main.jpg) no-repeat center top;
    background-size: cover;

    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}
.slider .shaped:after
{
    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, .4), rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 100%);
    background-image:         repeating-radial-gradient(center center, rgba(255, 255, 255, .4), rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 100%);
    background-size: .5rem .5rem;
}
.slider .treangle
{
    position: absolute;
    z-index: -999;
    top: 85.3rem;
    right: 0;

    width: 63rem;
    height: 16rem;

    background: #0cf;

    -webkit-shape-outside: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
            shape-outside: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
    -webkit-clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
            clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
}
.slider .treangle:after
{
    display: block;
    clear: both;

    width: 100%;

    content: ' ';
}
.slider .text
{
    position: absolute;
    top: 23rem;
    left: 50%;

    display: block;

    max-width: 71rem;
    height: 40rem;
    margin-left: -35.5rem;

    text-align: center;
}
.slider .text h3
{
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;

    text-transform: uppercase;
}
.slider .text object
{
    max-width: 19rem;
    max-height: 19rem;
    margin: 4.5rem;
    margin-left: -.5rem;
}
.slider .text p
{
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;

    margin: 4rem auto;
}
.slider .mouse
{
    position: absolute;
    bottom: 20rem;
    left: 50%;

    display: block;

    width: 45px;
    height: 67px;
    margin: 0 auto 0 -26px;

    border: 3px solid #fff;
    border-radius: 23px;
}
.slider .mouse span
{
    display: block;

    width: 10px;
    height: 17px;
    margin: 6px auto;

    -webkit-animation-name: scroll;
            animation-name: scroll;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    border: 3px solid #fff;
    border-radius: 10px;
    background: none repeat scroll 0 0;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
@-webkit-keyframes scroll
{
    0%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);

        opacity: 0;
    }
}
@keyframes scroll
{
    0%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);

        opacity: 0;
    }
}
.content_block
{
    padding-top: 13rem;
    padding-bottom: 5rem;
}
.content_block .tit
{
    display: block;

    max-width: 90%;
    margin: 0 auto;
}
.content_block .tit:after
{
    display: block;
    clear: both;

    width: 100%;

    content: '';
}
.content_block .tit h1
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    margin: 0;

    text-transform: uppercase;

    color: #0cf;
}
.content_block .tit h1 i
{
    font-style: normal;

    color: #f90;
}
.content_block .tit p
{
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;

    color: #333;
}
.content_block .tit .descript
{
    display: inline-block;
    float: right;

    box-sizing: border-box;
    max-width: 60rem;
    margin-left: 7rem;

    vertical-align: text-top;
}
.content_block .tit .descript img
{
    position: relative;
    top: -5rem;

    float: left;

    margin-right: 3rem;
}
.content_block .tit .descript p
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    font-style: normal;
    line-height: 125%;
}
.tabs
{
    position: relative;

    display: block;
    overflow: hidden;

    max-width: 90%;
    margin: 0 auto;
    margin-top: 2.5rem;
}
.tabs label
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    line-height: 5.5rem;

    display: inline-block;

    width: 17.5rem;
    height: 5.5rem;
    margin-right: -2.3rem;

    cursor: pointer;
    -webkit-transition: .5s;
            transition: .5s;
    text-align: center;
    text-transform: uppercase;

    color: #333;
    background: url(../img/tab_gray.svg) no-repeat top center;
}
.tabs input
{
    position: absolute;
    left: -9999px;
}
#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3
{
    z-index: 3;
    top: 0;

    cursor: pointer;

    color: #fff;
    background: url(../img/tab.svg) no-repeat top center;
}
.tabs_cont
{
    position: relative;
    z-index: 2;

    height: 30rem;
    margin: 9.5rem 0;

    background: #fff;
}
.tabs_cont .block
{
    display: inline-block;

    box-sizing: border-box;
    width: 45%;
    height: 17.5rem;
    padding: 3.5rem;
}
.tabs_cont .block:nth-child(odd)
{
    padding-left: 0;

    border-right: 1px solid #eaeaea;
}
.tabs_cont .block:nth-child(even)
{
    padding-right: 0;
}
.tabs_cont .block i
{
    display: inline-block;
    float: left;

    width: 12.5rem;
    height: 10.5rem;
    margin-right: 2rem;
}
.tabs_cont .block:first-child
{
    border-bottom: 1px solid #eaeaea;
}
.tabs_cont .block:first-child i
{
    background-image: url(../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0 -420px;
}
.tabs_cont .block:first-child i:hover
{
    background-position: 0 -525px;
}
.tabs_cont .block:nth-child(2)
{
    border-bottom: 1px solid #eaeaea;
}
.tabs_cont .block:nth-child(2) i
{
    background-image: url(../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0 -210px;
}
.tabs_cont .block:nth-child(2) i:hover
{
    background-position: 0 -315px;
}
.tabs_cont .block:nth-child(3) i
{
    background-image: url(../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0 -630px;
}
.tabs_cont .block:nth-child(3) i:hover
{
    background-position: 0 -735px;
}
.tabs_cont .block:last-child i
{
    background-image: url(../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tabs_cont .block:last-child i:hover
{
    background-position: 0 -105px;
}
.tabs_cont .block p.title
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    margin: 1rem 0;
}
.tabs_cont .block p.text
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}
.tabs_cont > div
{
    position: absolute;
    top: 0;
    left: -9999px;

    -webkit-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;

    opacity: 0;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3
{
    position: static;
    left: 0;

    opacity: 1;
}
.skils
{
    box-sizing: border-box;
    height: 94rem;

    background: #f7f7f7;

    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}
.skils h2
{
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;

    text-align: center;
    text-transform: uppercase;

    color: #333;
}
.skils .underline
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 125%;

    max-width: 54rem;
    margin: 0 auto;
    padding: 5.5rem 0;

    text-align: center;

    color: #333;
}
.skils .circles
{
    display: block;

    max-width: 90%;
    margin: 0 auto;

    text-align: center;
}
.skils .circles .circle_block
{
    display: inline-block;

    width: 24rem;
}
.skils .circles .circle_block p
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;

    position: relative;
    bottom: -4rem;

    padding: 0 1.5rem;

    color: #999;
}
@-webkit-keyframes load
{
    0%
    {
        stroke-dashoffset: 100%;
    }
}
@keyframes load
{
    0%
    {
        stroke-dashoffset: 100%;
    }
}
.wordpress .progress > li
{
    font-family: 'Lato';
    font-weight: 100;

    position: relative;

    display: inline-block;

    margin: 2rem;

    text-align: center;

    color: initial;
}
.wordpress .progress > li:before
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    position: absolute;
    bottom: -5rem;

    width: 100%;

    content: attr(data-name);
    text-transform: uppercase;

    color: #333;
}
.wordpress .progress > li:after
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    position: absolute;
    top: 6rem;
    left: 0;

    width: 100%;

    content: attr(data-percent);
    text-align: center;

    color: #333;
}
.wordpress .progress svg
{
    width: 15rem;
    height: 15rem;
}
.wordpress .progress svg:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
}
.wordpress .progress svg:nth-child(2) path
{
    -webkit-animation: load 5s;
            animation: load 5s;

    fill: none;
    stroke-width: 10;
    stroke-dasharray: 412;
    stroke: #0cf;
}
.html .progress > li
{
    font-family: 'Lato';
    font-weight: 100;

    position: relative;

    display: inline-block;

    margin: 2rem;

    text-align: center;

    color: initial;
}
.html .progress > li:before
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    position: absolute;
    bottom: -5rem;

    width: 100%;

    content: attr(data-name);
    text-transform: uppercase;

    color: #333;
}
.html .progress > li:after
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    position: absolute;
    top: 6rem;
    left: 0;

    width: 100%;

    content: attr(data-percent);
    text-align: center;

    color: #333;
}
.html .progress svg
{
    width: 15rem;
    height: 15rem;
}
.html .progress svg:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.html .progress svg:nth-child(2) path
{
    -webkit-animation: load 5s;
            animation: load 5s;

    fill: none;
    stroke-width: 10;
    stroke-dasharray: 531;
    stroke: #0cf;
}
.css .progress > li
{
    font-family: 'Lato';
    font-weight: 100;

    position: relative;

    display: inline-block;

    margin: 2rem;

    text-align: center;

    color: initial;
}
.css .progress > li:before
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    position: absolute;
    bottom: -5rem;

    width: 100%;

    content: attr(data-name);
    text-transform: uppercase;

    color: #333;
}
.css .progress > li:after
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    position: absolute;
    top: 6rem;
    left: 0;

    width: 100%;

    content: attr(data-percent);
    text-align: center;

    color: #333;
}
.css .progress svg
{
    width: 15rem;
    height: 15rem;
}
.css .progress svg:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
            transform: rotate(-130deg);
}
.css .progress svg:nth-child(2) path
{
    -webkit-animation: load 5s;
            animation: load 5s;

    fill: none;
    stroke-width: 10;
    stroke-dasharray: 566;
    stroke: #0cf;
}
.photoshop .progress > li
{
    font-family: 'Lato';
    font-weight: 100;

    position: relative;

    display: inline-block;

    margin: 2rem;

    text-align: center;

    color: initial;
}
.photoshop .progress > li:before
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    position: absolute;
    bottom: -5rem;

    width: 100%;

    content: attr(data-name);
    text-transform: uppercase;

    color: #333;
}
.photoshop .progress > li:after
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    position: absolute;
    top: 6rem;
    left: 0;

    width: 100%;

    content: attr(data-percent);
    text-align: center;

    color: #333;
}
.photoshop .progress svg
{
    width: 15rem;
    height: 15rem;
}
.photoshop .progress svg:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.photoshop .progress svg:nth-child(2) path
{
    -webkit-animation: load 5s;
            animation: load 5s;

    fill: none;
    stroke-width: 10;
    stroke-dasharray: 673;
    stroke: #0cf;
}
