@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300);
html
{
    font-size: 62.5%;
}
*
{
    margin: 0;
    padding: 0;
}
.content_block
{
    padding-top: 13rem;
    padding-bottom: 5rem;
}
.content_block .tit
{
    display: block;

    max-width: 90%;
    margin: 0 auto;
}
.content_block .tit:after
{
    display: block;
    clear: both;

    width: 100%;

    content: '';
}
.content_block .tit h1
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    margin: 0;

    text-transform: uppercase;

    color: #0cf;
}
.content_block .tit h1 i
{
    font-style: normal;

    color: #f90;
}
.content_block .tit p
{
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;

    color: #666;
}
.content_block .tit .descript
{
    display: inline-block;
    float: right;

    box-sizing: border-box;
    max-width: 60rem;
    margin-left: 7rem;

    vertical-align: text-top;
}
.content_block .tit .descript img
{
    position: relative;
    top: -5rem;

    float: left;

    margin-right: 3rem;
}
.content_block .tit .descript p
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    font-style: normal;
    line-height: 125%;
}
header
{
    position: absolute;
    z-index: 1;

    width: 90%;
    max-height: 16rem;
    margin: 0 5%;
    padding: 3rem 0;
}
header div,
header nav
{
    display: inline-block;
}
header .logo
{
    max-width: 7.4rem;
    max-height: 5.8rem;
}
header .logo a
{
    display: block;

    width: 100%;
}
header .logo object
{
    width: 100%;
}
header nav
{
    float: right;
}
header nav ul
{
    text-align: center;
}
header nav ul li
{
    font-size: 1.6rem;

    display: inline-block;

    padding: 1.5rem;

    list-style: none;

    -webkit-transition: .2s;
            transition: .2s;
}
header nav ul li:last-child
{
    padding-right: 0;
}
header nav ul li a
{
    text-decoration: none;

    color: #fff;
}
header nav ul li a:hover
{
    border-bottom: 1px solid #fff;
}
.slider
{
    position: relative;

    overflow: visible;

    width: 100%;
    max-width: 100%;
    height: 117vh;

    color: #fff;
}
.slider .shaped
{
    float: left;
    float: right;

    width: 100%;
    height: 100%;

    background: url(../img/main.jpg) no-repeat center top;
    background-size: cover;

    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}
.slider .shaped:after
{
    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, .4), rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 100%);
    background-image:         repeating-radial-gradient(center center, rgba(255, 255, 255, .4), rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 100%);
    background-size: .5rem .5rem;
}
.slider .treangle
{
    position: absolute;
    z-index: -999;
    top: 96vh;
    right: 0;

    width: 63rem;
    min-height: 16rem;

    background: #0cf;

    -webkit-shape-outside: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
            shape-outside: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
    -webkit-clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
            clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
}
.slider .treangle:after
{
    display: block;
    clear: both;

    width: 100%;

    content: ' ';
}
.slider .text
{
    position: absolute;
    top: 23vh;
    left: 50%;

    display: block;

    max-width: 71rem;
    height: 40rem;
    margin-left: -35.5rem;

    text-align: center;
}
.slider .text h3
{
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;

    text-transform: uppercase;
}
.slider .text object
{
    max-width: 19rem;
    max-height: 19rem;
    margin: 4.5rem;
    margin-left: -.5rem;
}
.slider .text p
{
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;

    margin: 4rem auto;
}
.slider .mouse
{
    position: absolute;
    bottom: 20vh;
    left: 50%;

    display: block;

    width: 45px;
    height: 67px;
    margin: 0 auto 0 -26px;

    border: 3px solid #fff;
    border-radius: 23px;
}
.slider .mouse span
{
    display: block;

    width: 10px;
    height: 17px;
    margin: 6px auto;

    -webkit-animation-name: scroll;
            animation-name: scroll;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    border: 3px solid #fff;
    border-radius: 10px;
    background: none repeat scroll 0 0;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
@-webkit-keyframes scroll
{
    0%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);

        opacity: 0;
    }
}
@keyframes scroll
{
    0%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);

        opacity: 0;
    }
}
.tabs
{
    position: relative;

    display: block;
    overflow: hidden;

    max-width: 90%;
    margin: 0 auto;
    margin-top: 2.5rem;
}
.tabs label
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    line-height: 5.5rem;

    display: inline-block;

    width: 17.5rem;
    height: 5.5rem;
    margin-right: -2.3rem;

    cursor: pointer;
    -webkit-transition: .5s;
            transition: .5s;
    text-align: center;
    text-transform: uppercase;

    color: #333;
    background: url(../img/tab_gray.svg) no-repeat top center;
}
.tabs input
{
    position: absolute;
    left: -9999px;
}
#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3
{
    z-index: 3;
    top: 0;

    cursor: pointer;

    color: #fff;
    background: url(../img/tab.svg) no-repeat top center;
}
.tabs_cont
{
    position: relative;
    z-index: 2;

    height: 30rem;
    padding: 9.5rem 0;

    background: #fff;
}
.tabs_cont .block
{
    display: inline-block;

    box-sizing: border-box;
    width: 45%;
    height: 17.5rem;
    padding: 3.5rem;
}
.tabs_cont .block:nth-child(odd)
{
    padding-left: 0;

    border-right: 1px solid #eaeaea;
}
.tabs_cont .block:nth-child(even)
{
    padding-right: 0;
}
.tabs_cont .block i
{
    display: inline-block;
    float: left;

    width: 12.5rem;
    height: 10.5rem;
    margin-right: 2rem;
}
.tabs_cont .block:first-child
{
    border-bottom: 1px solid #eaeaea;
}
.tabs_cont .block:first-child i
{
    background-image: url(../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0 -420px;
}
.tabs_cont .block:first-child i:hover
{
    background-position: 0 -525px;
}
.tabs_cont .block:nth-child(2)
{
    border-bottom: 1px solid #eaeaea;
}
.tabs_cont .block:nth-child(2) i
{
    background-image: url(../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0 -210px;
}
.tabs_cont .block:nth-child(2) i:hover
{
    background-position: 0 -315px;
}
.tabs_cont .block:nth-child(3) i
{
    background-image: url(../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0 -630px;
}
.tabs_cont .block:nth-child(3) i:hover
{
    background-position: 0 -735px;
}
.tabs_cont .block:last-child i
{
    background-image: url(../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tabs_cont .block:last-child i:hover
{
    background-position: 0 -105px;
}
.tabs_cont .block p.title
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    margin: 1rem 0;
}
.tabs_cont .block p.text
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}
.tabs_cont > div
{
    position: absolute;
    top: 0;
    left: -9999px;

    -webkit-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;

    opacity: 0;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3
{
    position: static;
    left: 0;

    opacity: 1;
}
.skils
{
    box-sizing: border-box;
    height: 94rem;

    background: #f7f7f7;

    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}
.skils h2
{
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;

    text-align: center;
    text-transform: uppercase;

    color: #333;
}
.skils .underline
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 125%;

    max-width: 54rem;
    margin: 0 auto;
    padding: 5.5rem 0;

    text-align: center;

    color: #333;
}
.skils .circles
{
    display: block;

    max-width: 90%;
    margin: 0 auto;

    text-align: center;
}
.skils .circles .circle_block
{
    display: inline-block;

    width: 24rem;
}
.skils .circles .circle_block p
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;

    position: relative;
    bottom: -4rem;

    padding: 0 1.5rem;

    color: #999;
}
@-webkit-keyframes load
{
    0%
    {
        stroke-dashoffset: 100%;
    }
}
@keyframes load
{
    0%
    {
        stroke-dashoffset: 100%;
    }
}
.wordpress .progress > li
{
    font-family: 'Lato';
    font-weight: 100;

    position: relative;

    display: inline-block;

    margin: 2rem;

    text-align: center;

    color: initial;
}
.wordpress .progress > li:before
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    position: absolute;
    bottom: -5rem;

    width: 100%;

    content: attr(data-name);
    text-transform: uppercase;

    color: #333;
}
.wordpress .progress > li:after
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    position: absolute;
    top: 6rem;
    left: 0;

    width: 100%;

    content: attr(data-percent);
    text-align: center;

    color: #333;
}
.wordpress .progress svg
{
    width: 15rem;
    height: 15rem;
}
.wordpress .progress svg:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
}
.wordpress .progress svg:nth-child(2) path
{
    -webkit-animation: load 5s;
            animation: load 5s;

    fill: none;
    stroke-width: 10;
    stroke-dasharray: 412;
    stroke: #0cf;
}
.html .progress > li
{
    font-family: 'Lato';
    font-weight: 100;

    position: relative;

    display: inline-block;

    margin: 2rem;

    text-align: center;

    color: initial;
}
.html .progress > li:before
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    position: absolute;
    bottom: -5rem;

    width: 100%;

    content: attr(data-name);
    text-transform: uppercase;

    color: #333;
}
.html .progress > li:after
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    position: absolute;
    top: 6rem;
    left: 0;

    width: 100%;

    content: attr(data-percent);
    text-align: center;

    color: #333;
}
.html .progress svg
{
    width: 15rem;
    height: 15rem;
}
.html .progress svg:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.html .progress svg:nth-child(2) path
{
    -webkit-animation: load 5s;
            animation: load 5s;

    fill: none;
    stroke-width: 10;
    stroke-dasharray: 531;
    stroke: #0cf;
}
.css .progress > li
{
    font-family: 'Lato';
    font-weight: 100;

    position: relative;

    display: inline-block;

    margin: 2rem;

    text-align: center;

    color: initial;
}
.css .progress > li:before
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    position: absolute;
    bottom: -5rem;

    width: 100%;

    content: attr(data-name);
    text-transform: uppercase;

    color: #333;
}
.css .progress > li:after
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    position: absolute;
    top: 6rem;
    left: 0;

    width: 100%;

    content: attr(data-percent);
    text-align: center;

    color: #333;
}
.css .progress svg
{
    width: 15rem;
    height: 15rem;
}
.css .progress svg:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
            transform: rotate(-130deg);
}
.css .progress svg:nth-child(2) path
{
    -webkit-animation: load 5s;
            animation: load 5s;

    fill: none;
    stroke-width: 10;
    stroke-dasharray: 566;
    stroke: #0cf;
}
.photoshop .progress > li
{
    font-family: 'Lato';
    font-weight: 100;

    position: relative;

    display: inline-block;

    margin: 2rem;

    text-align: center;

    color: initial;
}
.photoshop .progress > li:before
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    position: absolute;
    bottom: -5rem;

    width: 100%;

    content: attr(data-name);
    text-transform: uppercase;

    color: #333;
}
.photoshop .progress > li:after
{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;

    position: absolute;
    top: 6rem;
    left: 0;

    width: 100%;

    content: attr(data-percent);
    text-align: center;

    color: #333;
}
.photoshop .progress svg
{
    width: 15rem;
    height: 15rem;
}
.photoshop .progress svg:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.photoshop .progress svg:nth-child(2) path
{
    -webkit-animation: load 5s;
            animation: load 5s;

    fill: none;
    stroke-width: 10;
    stroke-dasharray: 673;
    stroke: #0cf;
}
.team
{
    position: relative;

    overflow: visible;

    width: 100%;
    max-width: 100%;
    height: 100rem;
    padding-bottom: 0;
}
.team .shaped
{
    position: absolute;
    z-index: -990;
    top: -17rem;

    float: left;
    float: right;

    width: 100%;
    height: 100%;

    background: url(../img/team.jpg) no-repeat center top;
    background-size: cover;

    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}
.team .shaped:after
{
    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(51, 51, 51, .9);
    background-size: .5rem .5rem;
}
.team .tit h1 i
{
    color: #fff;
}
.team .tit p
{
    color: #fff;
}
.team .tit .descript p
{
    color: #fff;
}
.team .treangle
{
    position: absolute;
    z-index: -999;
    right: 0;
    bottom: 21rem;

    width: 63rem;
    min-height: 16rem;

    background: #0cf;

    -webkit-shape-outside: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
            shape-outside: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
    -webkit-clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
            clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
}
.team .treangle:after
{
    display: block;
    clear: both;

    width: 100%;

    content: ' ';
}
.team .team-block
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    width: 90%;
    margin: 0 auto;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}
.team .team-block .team-item
{
    font-size: 1.2rem;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    max-width: 25%;
    margin: 0 4rem;
    margin-top: 5rem;

    text-align: center;

    color: #fff;
}
.team .team-block .team-item img
{
    margin: 0 auto;
    margin-bottom: 3rem;

    border-radius: 50%;
    box-shadow: 0 2px 9px -3px rgba(0, 0, 0, .7);
}
.team .team-block .team-item h4
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    margin: .5rem auto;

    text-transform: uppercase;
}
.team .team-block .team-item .work
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    text-align: center;

    color: #0cf;
}
.team .team-block .team-item .words
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    margin-top: 1.5rem;

    text-align: justify;
}
.team .social-icons
{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 19rem;
    height: 19rem;
    margin-left: -9.5rem;

    -webkit-transition: opacity .3s linear;
            transition: opacity .3s linear;

    opacity: 0;
    border-radius: 50%;
    background: black;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.team .social-icons:hover
{
    opacity: 1;
}
.team .social-icons i
{
    font-size: 2rem;

    z-index: -5;

    display: inline-block;

    padding: 1rem;

    cursor: pointer;
    -webkit-transition: color .3s linear;
            transition: color .3s linear;

    color: #eaeaea;
}
.team .social-icons i:hover
{
    color: #0cf;
}
.service
{
    padding-top: 0;
    padding-bottom: 6.5rem;
}
.service .service-block
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    width: 90%;
    margin: 0 auto;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.service .service-block .service-cont
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.service .service-block .service-cont .block
{
    display: inline-block;

    box-sizing: border-box;
    width: 50%;
    padding: 3.5rem;

    vertical-align: middle;

    border-bottom: 1px solid #eaeaea;
}
.service .service-block .service-cont .block:nth-child(odd)
{
    padding-left: 0;

    border-right: 1px solid #eaeaea;
}
.service .service-block .service-cont .block:nth-child(even)
{
    padding-right: 0;
}
.service .service-block .service-cont .block:nth-last-child(2),
.service .service-block .service-cont .block:last-child
{
    border-bottom: none;
}
.service .service-block .service-cont .block i
{
    display: inline-block;
    float: left;

    width: 12.5rem;
    height: 10.5rem;
    margin-right: 2rem;
}
.service .service-block .service-cont .block .title
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    margin: 1rem 0;

    color: #f90;
}
.service .service-block .service-cont .block .text
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;

    color: #999;
}
.service-i
{
    display: block;

    background-image: url(../img/icons/spritesheet.png);
    background-repeat: no-repeat;
}
.service-i.service-service1
{
    width: 122px;
    height: 105px;

    background-position: -5px -5px;
}
.service-i.service-service2
{
    width: 122px;
    height: 105px;

    background-position: -5px -120px;
}
.service-i.service-service3
{
    width: 122px;
    height: 105px;

    background-position: -5px -235px;
}
.service-i.service-service4
{
    width: 122px;
    height: 105px;

    background-position: -5px -350px;
}
.service-i.service-service5
{
    width: 122px;
    height: 105px;

    background-position: -5px -465px;
}
.service-i.service-service6
{
    width: 122px;
    height: 105px;

    background-position: -5px -580px;
}
.fun-facts
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    padding-bottom: 18rem;

    background: #f7f7f7;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.fun-facts h1
{
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;

    text-transform: uppercase;

    color: #666;
}
.fun-facts p
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 125%;

    max-width: 60rem;
    margin: 5.5rem auto;

    text-align: center;

    color: #666;
}
.fun-facts .facts-block
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    width: 90%;
    max-width: 96rem;
    margin: 2rem auto;

    box-shadow: 0 2px 9px -3px #999;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.fun-facts .facts-block .facts-cont
{
    width: 25%;
    padding: 3.5rem 0;

    text-align: center;

    border: 1px solid white;
    outline: 1px solid #cdcdcd;
    background: #fff;
}
.fun-facts .facts-block .facts-cont:hover .fa,
.fun-facts .facts-block .facts-cont:hover span
{
    -webkit-transition: color .3s;
            transition: color .3s;

    color: #f90;
}
.fun-facts .facts-block .facts-cont:hover .title
{
    text-shadow: 0 -1px 0 #f7f7f7;
}
.fun-facts .facts-block .facts-cont .fa
{
    font-size: 7rem;

    -webkit-transition: color .3s;
            transition: color .3s;

    color: #333;
}
.fun-facts .facts-block .facts-cont .title
{
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;

    margin: 4.5rem 0 3rem 0;

    color: #0cf;
}
.fun-facts .facts-block .facts-cont span
{
    font-family: 'Lato', sans-serif;
    font-size: 5.2rem;
    font-weight: 300;

    -webkit-transition: color .3s;
            transition: color .3s;
}
.works
{
    padding-top: 14%;
    padding-bottom: 2%;
}
.works .work-block
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.works .work-block .work
{
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    height: 48.5rem;
    margin: 1%;

    color: #333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 2px 9px -3px #999;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.works .work-block .work:hover a
{
    opacity: 1;
    background-image: -webkit-radial-gradient(rgba(255, 255, 255, .3) 10%, rgba(255, 255, 255, 0));
    background-image:         radial-gradient(rgba(255, 255, 255, .3) 10%, rgba(255, 255, 255, 0));
    box-shadow: 0 2px 9px -3px #999;
}
.works .work-block .work:hover:after
{
    opacity: .3;
}
.works .work-block .work:after
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: opacity .6s;
            transition: opacity .6s;

    opacity: .6;
    background: white;
}
.works .work-block .work h2
{
    font-family: 'Lato', sans-serif;
    font-size: 4.8rem;
    font-weight: 300;

    z-index: 5;
}
.works .work-block .work p
{
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;

    z-index: 5;

    max-width: 39rem;
    margin: 4.5rem auto;

    text-align: center;
}
.works .work-block .work a
{
    font-size: 3rem;

    z-index: 5;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    box-sizing: border-box;
    width: 70%;
    max-width: 37rem;
    min-height: 6rem;

    cursor: pointer;
    -webkit-transition: opacity .3s, background .3s;
            transition: opacity .3s, background .3s;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;

    opacity: .5;
    color: #333;
    border: 3px solid #333;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.works .work-block .mini
{
    width: 31%;
}
.works .work-block .mini:first-child
{
    background-image: url(../img/work1.jpg);
}
.works .work-block .mini:nth-child(2)
{
    background-image: url(../img/work2.jpg);
}
.works .work-block .mini:nth-child(3)
{
    background-image: url(../img/work3.jpg);
}
.works .work-block .mini:last-child
{
    background-image: url(../img/work5.jpg);
}
.works .work-block .maxi
{
    width: 64.3%;

    background-image: url(../img/work4.jpg);
}
.works .work-gallery
{
    position: relative;

    overflow: visible;

    width: 100%;
    max-width: 100%;
    height: 135rem;

    text-align: center;

    border-top: 1px solid #f1f1f1;
}
.works .work-gallery .shaped
{
    position: absolute;
    z-index: -999;
    top: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background: #f7f7f7;

    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            shape-outside: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.works .work-gallery h1
{
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;

    margin-top: 13rem;
    margin-bottom: 0;

    text-transform: uppercase;

    color: #666;
}
.works .work-gallery .under-title
{
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;

    margin: 3rem auto;

    color: #333;
}
.works .work-gallery nav
{
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 142%;

    margin: 5.5rem auto;
}
.works .work-gallery nav a
{
    font-weight: 500;

    margin: 5px;
    padding: 1rem 1.5rem;

    text-decoration: none;

    color: #666;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 9px -3px #999;
}
.works .work-gallery nav a.active,
.works .work-gallery nav a:active
{
    background: #f1f1f1;
    box-shadow: 0 2px 9px -3px #f1f1f1;
}
.works .work-gallery .gallery-block
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    max-width: 96rem;
    margin: 2rem auto;

    text-align: center;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.works .work-gallery .gallery-block .pic
{
    margin-bottom: 3rem;

    box-shadow: 0 2px 9px -3px #999;

    -webkit-flex-basis: 30rem;
    -ms-flex-preferred-size: 30rem;
            flex-basis: 30rem;
}
.works .work-gallery .gallery-block .pic .img
{
    width: 100%;
    height: 16rem;
    margin-bottom: 3rem;
}
.works .work-gallery .gallery-block .pic:first-child .img
{
    background: url(../img/gallery1.jpg) no-repeat center;
}
.works .work-gallery .gallery-block .pic:nth-child(2) .img
{
    background: url(../img/gallery2.jpg) no-repeat center;
}
.works .work-gallery .gallery-block .pic:nth-child(3) .img
{
    background: url(../img/gallery3.jpg) no-repeat center;
}
.works .work-gallery .gallery-block .pic:nth-child(4) .img
{
    background: url(../img/gallery4.jpg) no-repeat center;
}
.works .work-gallery .gallery-block .pic:nth-child(5) .img
{
    background: url(../img/gallery5.jpg) no-repeat center;
}
.works .work-gallery .gallery-block .pic:nth-child(6) .img
{
    background: url(../img/gallery6.jpg) no-repeat center;
}
.works .work-gallery .gallery-block .pic h3
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;

    color: #333;
}
.works .work-gallery .gallery-block .pic p
{
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;

    padding: 1.5rem 0;

    color: #333;
}
.works .work-gallery button
{
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 142%;

    display: block;

    width: 14rem;
    height: 3rem;
    margin: 6rem auto;

    text-transform: uppercase;

    color: #fff;
    border: 1px solid transparent;
    border-right: 1px solid #00a3cc;
    border-bottom: 2px solid #00a3cc;
    border-radius: 1px;
    outline: none;
    background: #0cf;
}
.works .work-gallery button:active
{
    border-right: 1px solid #0cf;
    border-bottom: 2px solid #0cf;
}
.twitter
{
    position: relative;

    overflow: visible;

    width: 100%;
    max-width: 100%;
    height: 83rem;
    padding-bottom: 0;
}
.twitter .shaped
{
    position: absolute;
    z-index: -1000;
    top: -17rem;

    float: left;
    float: right;

    width: 100%;
    height: 100%;

    background: url(../img/team.jpg) no-repeat center top;
    background-size: cover;

    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            shape-outside: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}
.twitter .shaped:after
{
    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(51, 51, 51, .9);
    background-size: .5rem .5rem;
}
.twitter .treangle
{
    position: absolute;
    z-index: -1009;
    right: 0;
    bottom: 16rem;

    width: 63rem;
    min-height: 16rem;

    background: #0cf;

    -webkit-shape-outside: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
            shape-outside: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
    -webkit-clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
            clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 30% 55%);
}
.twitter .treangle:after
{
    display: block;
    clear: both;

    width: 100%;

    content: ' ';
}
.twitter .twitter-block
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 100%;
    padding-top: 8rem;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.twitter .twitter-block .big-icon
{
    width: 10rem;
    height: 10rem;

    background: url(../img/icons/twitter-logo.png) no-repeat center;
}
.twitter .twitter-block p
{
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;

    max-width: 81rem;
    max-height: 20rem;
    margin: 9rem auto;

    text-align: center;

    color: #fff;
}
.twitter .twitter-block .dots
{
    display: block;
}
.twitter .twitter-block .dots li
{
    display: inline-block;

    width: 1rem;
    height: 1rem;
    margin: 0 .2rem;

    cursor: pointer;

    border-radius: 50%;
    background: #ccc;
}
.twitter .twitter-block .dots .active
{
    background: #999;
}
.twitter .twitter-block .underblock
{
    font-size: 2.2rem;

    margin: 3rem auto;
}
.twitter .twitter-block .underblock a
{
    text-decoration: none;

    color: #0cf;
}
.twitter .twitter-block .underblock a:hover,
.twitter .twitter-block .underblock a:active
{
    border-bottom: 1px solid #0cf;
}
.twitter .twitter-block .underblock a:visited
{
    color: #00a3cc;
}
