.content_block.fun-facts
	h1 Fun facts
	p.under-title.
		Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse

	.facts-block
		.facts-cont
			i.fa.fa-thumbs-o-up
			p.title In Business
			span 2006

		.facts-cont
			i.fa.fa-comments-o
			p.title Clients Served
			span 240

		.facts-cont
			i.fa.fa-smile-o
			p.title Projects Delivered
			span 120

		.facts-cont
			i.fa.fa-bookmark-o
			p.title Awards Won
			span 10