header
	div.logo
		a(href="#")
			object(type="image/svg+xml" data="../img/logo.svg")
				|Fe

	nav
		ul
			li
				a(href="#")
					|Home
			li
				a(href="#")
					|About Us
			li
				a(href="#")
					|Products
			li
				a(href="#")
					|Testimonials
			li
				a(href="#")
					|Contact
