head
	title Landing page for Fe
	+styles('../css/style.css', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

	+script('https://code.jquery.com/ui/1.11.3/jquery-ui.min.js', 'https://code.jquery.com/jquery-1.10.2.js')

	meta(charset="utf8")

	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

	link(rel="icon" type="image/x-icon" href="../img/favicon.ico")




