header
	div.logo
		a(href="#")
			object(type="image/svg+xml" data="../img/logo.svg")
				|Fe

	nav
		//- Создаем массив для меню
		- var menus = {'Home':'#', 'About Us':'#about', 'Products':'#service', 'Testimonials':'#test', 'Contact':'#contacts'}
		ul
			each menuHref, menuName in menus
				li
					a(href= menuHref)= menuName

