.slider
	.shaped
	.text
		h3
			|get ready
		object(type="image/svg+xml" data="../img/logo.svg")
			<?xml-stylesheet type="text/css" href="../css/style.css"?>
			|Fe
		p
			|Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aeneanest in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquamipsum ante
	div.mouse
		span
	.treangle

