.content_block.pricing
	.shaped
	.tit
		h1 plant & 
			i pricing
		p What We Do With Love

		.descript
			img(src="../img/lines.svg")

			p
				|Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse

	.price-shits
		.price-item
			h3 Basic Plan
			p.price 25
			ul
				li 60 Users
				li Unlimited Forums
				li Unlimited Reports
				li 3,000 Entries per Month
				li 200 MB Storage
				li Unlimited Support
			button order now
			p.bottom-text 30 DAYS FREE TRIAL

		.price-item
			h3 Basic Plan
			p.price 25
			ul
				li 60 Users
				li Unlimited Forums
				li Unlimited Reports
				li 3,000 Entries per Month
				li 200 MB Storage
				li Unlimited Support
			button order now
			p.bottom-text 30 DAYS FREE TRIAL

		.price-item
			h3 Basic Plan
			p.price 25
			ul
				li 60 Users
				li Unlimited Forums
				li Unlimited Reports
				li 3,000 Entries per Month
				li 200 MB Storage
				li Unlimited Support
			button order now
			p.bottom-text 30 DAYS FREE TRIAL

		.price-item
			h3 Basic Plan
			p.price 25
			ul
				li 60 Users
				li Unlimited Forums
				li Unlimited Reports
				li 3,000 Entries per Month
				li 200 MB Storage
				li Unlimited Support
			button order now
			p.bottom-text 30 DAYS FREE TRIAL

	.treangle