.content_block.scils
	h2 Our skiils
	p.underline
		|Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse

	.sircles
		.sircle_block
			i
			p.title wordpress
			p.text
				|aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
		.sircle_block
			i
			p.title html 5
			p.text
				|aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
		.sircle_block
			i
			p.title css
			p.text
				|aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
		.sircle_block
			i
			p.title photoshop
			p.text
				|aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
