.content_block.service
	.tit
		h1 Our 
			i Services
		p What We Do With Love

		.descript
			img(src="../img/lines.svg")

			p
				|Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse

	section.service-block
		.service-cont
			.block
				i.service-i.service-service1
				p.title Brand Identity
				p.text.
					aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

			.block
				i.service-i.service-service2
				p.title UI/UX Design
				p.text.
					aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

			.block
				i.service-i.service-service3
				p.title Graphic Design
				p.text.
					aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

			.block
				i.service-i.service-service4
				p.title Mobile Application
				p.text.
					aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

			.block
				i.service-i.service-service5
				p.title Illustration
				p.text.
					aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

			.block
				i.service-i.service-service6
				p.title Videography
				p.text.
					aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.