.content_block.skils
	h2 Our skiils
	p.underline
		|Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse

	.circles
		.circle_block.wordpress
			ul.progress
				li(data-name="Wordpress" data-percent="58%")
					svg(viewBox="-10 -10 220 220")
						g(fill="none" stroke-width="3" transform="translate(100,100)")
							path(d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)")
							path(d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)")
							path(d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)")
							path(d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)")
							path(d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)")
							path(d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)")
					svg(viewBox="-10 -10 220 220")
						path(d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="81")

			p.text
				|aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
		.circle_block.html
			ul.progress
				li(data-name="html 5" data-percent="75%")
					svg(viewBox="-10 -10 220 220")
						g(fill="none" stroke-width="3" transform="translate(100,100)")
							path(d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)")
							path(d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)")
							path(d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)")
							path(d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)")
							path(d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)")
							path(d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)")
					svg(viewBox="-10 -10 220 220")
						path(d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="81")
			p.text
				|aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
		.circle_block.css
			ul.progress
				li(data-name="css" data-percent="80%")
						svg(viewBox="-10 -10 220 220")
							g(fill="none" stroke-width="3" transform="translate(100,100)")
								path(d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)")
								path(d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)")
								path(d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)")
								path(d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)")
								path(d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)")
								path(d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)")
						svg(viewBox="-10 -10 220 220")
							path(d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="81")
			p.text
				|aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
		.circle_block.photoshop
			ul.progress
				li(data-name="photoshop" data-percent="95%")
						svg(viewBox="-10 -10 220 220")
							g(fill="none" stroke-width="3" transform="translate(100,100)")
								path(d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)")
								path(d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)")
								path(d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)")
								path(d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)")
								path(d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)")
								path(d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)")
						svg(viewBox="-10 -10 220 220")
							path(d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="81")
			p.text
				|aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
