.content_block.touch#contacts
	.tit
		h1 get in 
			i touch
		p What We Do With Love

		.descript
			img(src="../img/lines.svg")

			p
				|Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse

	form(id="contacts")
		input(type="text" name="name" placeholder="Name")
		input(type="email" name="email" placeholder="Email")
		input(type="text" name="subj" placeholder="Subject")
		textarea(name="message" placeholder="Message")
		button(type="submit")
			|Send Message

	.info
		h3 ADDITIONAL INFO
		p.
			If you have any questiong about our products or something else, please email us or call us. We'll get in touch with you as soon as possible.
		ul
			li.address Jl. Pahlawan VII No. 247D Sidoarjo
			li.tel +62 - 85745965973
			li.email rudhisasmito@gmail.com
			li.time
				|Mo - Fr: 9am to 6pm