.conten_block.twitter
	.shaped
	.twitter-block
		.big-icon
		p.
			Premium Template - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero...
		ul.dots
			li
			li.active
			li
			li
			li
		p.underblock
			|Follow me on Twitter: 
			a(href="https://twitter.com/ABatickaya")
				@ABatickaya
	.treangle