.content_block.works#works
	.tit
		h1 Our 
			i Works
		p What We Do With Love

		.descript
			img(src="../img/lines.svg")

			p
				|Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
	.work-block
		.work.mini
			h2 Lorem ipsum
			p Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
			a(href="#works") view case study

		.work.mini
			h2 Lorem ipsum
			p Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
			a(href="#works") view case study

		.work.mini
			h2 Lorem ipsum
			p Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
			a(href="#works") view case study

		.work.maxi
			h2 Lorem ipsum
			p Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
			a(href="#works") view case study

		.work.mini
			h2 Lorem ipsum
			p Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
			a(href="#works") view case study