doctype html
html(lang="ru")
	include parts/mixins
	include parts/_head
	body
		include parts/_header
		include parts/_mainScreen
		include parts/_about
		include parts/_skils
		//- include parts/_body
		include parts/_footer